<nav class="navbar navbar-expand-lg navbar-collapse navbar-dark" style="background-color: #04070c;color: white;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="index.html">
        <img id="logo" src="../../../images/logo1.png " class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="cell"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courses
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/user-create">C#</a>
                    <a class="dropdown-item" href="/user-create">ASP.Net core</a>
                    <a class="dropdown-item" href="/user-create">Html5</a>
                    <a class="dropdown-item" href="/user-create">SPA using Angular</a>
                </div>
            </li>
            <a class="nav-link active" routerLink="/user-list">Student List <span class="sr-only">(current)</span>
            </a>
            <a class="nav-link active" routerLink="/user-create">Enroll<span class="sr-only">(current)</span>
            </a>
            <!-- <div id="form" class="pull-right">
                <form form-pull-right class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search the Courses"
                        aria-label="Search the Courses">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div> -->
        </div>
    </div>
</nav>