<h1 >SimplEarn</h1>
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card bg-transparent border-info">
        <div class="card-body">
          <h3 class="card-title">C#</h3>
          <p class="card-text">C# (C-Sharp) is a programming language developed by Microsoft that runs on the .NET Framework. C# is used to develop web apps, desktop apps, mobile apps, games and much more.</p>
          <button class="btn btn-primary" routerLink="/register">Register</button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-transparent border-danger">
        <div class="card-body">
          <h3 class="card-title">ASP .Netcore</h3>
          <p class="card-text">ASP.NET is a popular web-development framework for building web apps on the . NET platform. ASP.NET Core is the open-source version of ASP.NET, that runs on macOS, Linux, and Windows.</p>
          <button class="btn btn-primary" routerLink="/register">Register</button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-transparent border-primary">
        <div class="card-body">
          <h3 class="card-title">HTML5</h3>
          <p class="card-text">HTML5 is a markup language used for structuring and presenting content on the World Wide Web. It is the fifth and latest major HTML version that is a World Wide Web Consortium (W3C) recommendation.</p>
          <button class="btn btn-primary" routerLink="/register">Register</button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-transparent border-success">
        <div class="card-body">
          <h3 class="card-title">SPA using Angular</h3>
          <p class="card-text">AngularJS is a JavaScript-based front-end web framework based on bidirectional UI data binding and is used to design Single Page Applications. ... SPAs use AJAX and HTML5 to create a fluid and responsive Web applications and most of the work happens on the client-side</p>
          <button class="btn btn-primary" routerLink="/register">Register</button>
        </div>
      </div>
    </div>
  </div>