<div class="jumbotron">
    Add Student
</div>
<form [formGroup]="addStudent" (ngSubmit)="createStudent">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control"placeholder = "Enter name" formControlName="name">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control"placeholder = "Enter description"  formControlName="description">
      </div>
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control"placeholder = "Enter email"  formControlName="email" >
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>